<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>video downloader</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
<main>
  <header>
    <h4>Vdownload</h4>
  </header>
  <form method="post">
    {% csrf_token %}
    <div class="form_wrapper">
      <input id="input" type="text" required name="link">
      <label for="input">Link</label>
      <i class="material-icons">person</i>
    </div>
    <div class="form_wrapper">
      <button type="submit">Download</button>
    </div>
    <div class="remember_box">
      <div class="remember">
      </div>
    </div>
    </div>
  </form>
</main>
  </body>
</html>